body{
    background: url(data-center-datacenter-977817.6.jpg)no-repeat center fixed;
    background-size: cover;
    
}

#main  {
  font-size: 32px;
  color: #3980b9;
  text-shadow: 2px 2px 4px #0A0A0A;
}

